.header__lang-link_active {
  text-decoration: none;
  line-height: 28px;
  padding: 0;
  border-bottom: 2px solid #fff;
}

@media screen and (max-width: 767px) {
  .header__lang-link_active {
    font-size: 18px;
    line-height: 20px;
  }
}