.place {
  display: grid;
  grid-gap: 48px 40px;
  grid-template-columns: 460px 1fr;
  padding: 0 0 80px;
}

.place:last-child {
  padding: 0;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: 440px 456px;
    grid-gap: 48px 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    grid-gap: 48px 28px;
    grid-template-columns: 340px 352px;
    padding: 0 0 73px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: auto;
    grid-row: 2/3;
    min-width: 320px;
    gap: 32px;
    padding: 0 0 50px;
  }
}
